<div id="card" class="card">
  <div id="delete-card" (click)="handlerDelete()" class="card__delete">
    <img class="card__delete-img" src="assets/close.svg" />
  </div>
  <div class="card__img-container">
    <img alt="{{ title }}" class="card__img-img" src="{{ srcImage }}" />
    <div [style]="getColor()" class="card__img-flag">{{ getFlagName() }}</div>
  </div>
  <div class="card__text-container">
    <span class="card__text-title">{{ title }}</span>
    <p class="card__text-text">
      {{ getText() }}
    </p>
  </div>
</div>
